/* ---------------------------------------------------------------------------------------------------

-----Info

Designer & Developer: Nicole Aitchison
Company: Basin Holdings

-----Color Swatch

font grey: 404040
font red: 701e1a
grey: dddcdc

-----Sections

∆ General
∆ Grid & Queries


----------------------------------------------------------------------------------------------------*/


/* ---------------------------------------------------------------------------------------------------
		∆ General
---------------------------------------------------------------------------------------------------*/


html,body,div,form,fieldset,legend,label,h1,h2,h3,h4,h5,h6,p,ul,dl,dt,dd,figure,figcaption {
	margin: 0;
	padding: 0;
}

body{
	font: 16px 'Helvetica Neue', Helvetica, sans-serif;
  color: #404040;
}

section{
  margin: 0 0 70px;
}

h2{
  text-align: center;
  font: 28px'Libre Baskerville', serif;
  color: #701e1a;
  text-transform: uppercase;
  padding: 38px 0 20px;
}

p{
  line-height: 35px;
  padding: 0 0 10px;
}

p:last-child{
  padding: 0;
}

a, a:active, a:visited, a:link{
  color: #701e1a;
  text-decoration: none;
  -webkit-transition:all .3s ease-in-out;
  -moz-transition:all .3s ease-in-out;
  -o-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out;
}

a:hover{
  color: #404040;
  -webkit-transition:all .3s ease-in-out;
  -moz-transition:all .3s ease-in-out;
  -o-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out;
}

ul{
	list-style-type: none;
}

li{
	float: left;
}

.center-text{
  text-align: center;
}

.clear-fix{
	clear: both;
}

/* Header --------------------------------------*/

header{
  top: 0;
  position: fixed;
  width: 100%;
/*  border-bottom: 4px solid #c5c5c5;*/
  z-index: 2;
}

.desktop-header{
  background: #fff;
  padding: 15px 0 20px;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.15);
}

.desktop-header #logo{
  float: left;
  width: 100px;
  height: 35px;
  padding-left: 50px;
  padding-top: 5px;
}

/*nav{
  width: 90.47%;
  float: right;
}*/

.desktop-header nav ul{
  width: 728px;
  margin: 0 auto;
  text-align: center;

}

.desktop-header nav li{
  text-align: center;
  padding: 0 25px 1px;
  /*border-bottom: 3px solid #dddcdc;*/
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

.desktop-header nav li:hover{
 /* border-bottom: 3px solid #701e1a;*/
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

.desktop-header li.active{
  /*border-bottom: 3px solid #701e1a;*/
}

.desktop-header nav a{
  font-size: 13px;
  line-height: 35px;
}

.desktop-header nav a, .mobile-header  nav a{
  text-transform: uppercase;
  color: #404040;
}

#bar-test{
  margin-top: -5px;
  width: 100%;
  height: 3px;
  background: #dddcdc;
  overflow: hidden;
}

.bar{
  position: relative;
  left: 0;
  width: 110px;
  height: 3px;
  background: #701e1a;
}

.mobile-header nav a{
  font-size: 18px;
  line-height: 35px;
}

.mobile-header{
  display: none;
}

.mobile-header .button-section{
  box-sizing: border-box;
  background: #fff;
  padding: 12px 10px;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.15);
  z-index: 2;
  position: absolute;
  width: 100%;
}

.mobile-header nav{
  width: 100%;
  padding-top: 65px;
  position: absolute;
  top: -410px;
  background: rgba(242,242,242,.95);
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.15);

  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

.mobile-header nav.open{
  top: 0;
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

.mobile-header #logo{
  width: 100px;
  float: left;
}

.mobile-header #menu-btn{
  width: 34px;
  float: right;
  cursor: pointer;
}

.mobile-header nav ul{
  width: 100%;
}

.mobile-header nav li{
  width: 100%;
  padding: 6px 0;
  text-align: center;
  border-bottom: 3px solid #dddcdc;
}

.mobile-header nav li a{
  width: 100%;
}

.mobile-header nav li.active a{
 /* border-bottom: 3px solid #701e1a;*/
 color: #701e1a;
}



/* Sections --------------------------------------*/

.img-divider img{
  width: 100%;
}

.icon{
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.icon img{
  width: 100%;
}

/* Banners --------------------------------------*/

#banner{
  background: url(../images/banner-1438.jpg) no-repeat top center;
  background-size: 100%;
  height: 450px;
  margin-top: 0;
  padding: 60px 50px 0 0;
}

#banner p{
  text-align: right;
  font-family: 'Libre Baskerville', serif;
  color: #fff;
}

p.banner-text-one{
  font-size: 26px;
  font-style: italic;
}

p.banner-text-two{
  font-size: 46px;
  font-weight: bold;
  padding-top: 3px;
}

p.banner-text-three{
  font-size: 19px;
  line-height: 28px;
}

  #companies-banner{ background: url(../images/companies-banner-1438.jpg) no-repeat top center; background-size: 100%;}
  #managment-banner{ background: url(../images/managment-banner-1438.jpg) no-repeat top center; background-size: 100%;}
  #locations-banner{ background: url(../images/locations-banner-1438.jpg) no-repeat top center; background-size: 100%;}
  #contact-banner{ background: url(../images/contact-banner-1438.jpg) no-repeat top center; background-size: 100%;}
  #companies-banner, #managment-banner, #locations-banner, #contact-banner{ height: 450px; }

/*#companies-banner{
  background: url(../images/companies-banner.jpg) no-repeat top center;
  height: 450px;
}*/

/* Companies --------------------------------------*/

section#companies{
  /*padding-bottom: 95px;*/
}

.companies-container{
  padding-top: 10px;
}

.company{
  border-bottom: 5px solid #701e1a;
  text-align: center;
  position: relative;
  cursor: pointer;
  padding-top: 15px;
}

.company-logo{
  box-sizing: border-box;
  padding: 20px 15px 40px;
}

.company img{
  width: 100%;
}

.company.supply{
  margin-right: 10px;
}

.company.tools, .company.rentals{
  margin: 0 5px;
}

.company.energy{
  margin-left: 10px;
}

.company-text{
  position: absolute;
  bottom: 0;
  background: #dddcdc url(../images/triangle.png) no-repeat top center;
  padding: 18px 8px 8px;
  height: 0;
  overflow: hidden;

  -webkit-transition:all .6s ease-in-out;
  -moz-transition:all .6s ease-in-out;
  -o-transition:all .6s ease-in-out;
  transition:all .6s ease-in-out;
}

.company-text.current{
  position: absolute;
  bottom: 0;
  background: rgba(218,217,217,.9) url(../images/triangle.png) no-repeat top center;
  padding: 18px 8px 8px;
  height: 126px;
  overflow: hidden;

  -webkit-transition:all .6s ease-in-out;
  -moz-transition:all .6s ease-in-out;
  -o-transition:all .6s ease-in-out;
  transition:all .6s ease-in-out;
}

.company-text p{
  font-size: 14px;
  line-height: 22px;
  padding: 5px 0 0;
}

/* Locations --------------------------------------*/

#locations p{
/*  box-sizing: border-box;
  padding: 0 0 10px 15px;*/
}

.locations-map{
/*  box-sizing: border-box;
  padding-right: 15px;*/
}

.locations-map img{
  width: 100%;
}

/* Contact --------------------------------------*/


form{
/*    padding-right: 15px;
    box-sizing: border-box;*/
}

.form-input{
  height: 45px;
  width: 100%;
  clear: both;
}

.form-input label{
  font-size: 14px;
  text-align: right;
  width: 20%;
  float: left;
  padding-right: 15px;
  line-height: 30px;
  box-sizing: border-box;
}

.form-input input, .form-input textarea, input#contact-submit{
  background-color: #dddcdc;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  padding: 10px;
  float: left;
  width: 80%;
}

.form-input textarea{
  height: 100px;
  font: 13px 'Helvetica Neue', sans-serif;
  resize: none;
}

input#contact-submit{
  box-sizing: border-box;
  background-color: #701e1a;
  text-transform: uppercase;
  color: #ddd;
  letter-spacing: 1px;
  float: right;
  margin: 10px 0 0;
  padding: 8px;
}

#contact p{
/*  padding: 0 0 0 15px;*/
}

/* Footer --------------------------------------*/

footer{
  background: #dddcdc;
  font-size: 12px;
  padding: 60px 0;
}

footer p{
  padding: 0 0 15px;
  line-height: 22px;
}

#flag-container{
  margin: 10px auto 0;
  width: 1003px;
}

.flag{
  width: 55px;
  height: 105px;
  float: left;
  padding: 0 2px;
}

ul.flag-locations li{
  float: none;
  text-align: center;
}

/* ---------------------------------------------------------------------------------------------------
    ∆ Grid & Queries
---------------------------------------------------------------------------------------------------*/

.main-container{
  max-width: 2000px;
  margin-top: 70px;
}

.sub-container{
  margin-top: 10px;
}

.container{
  width: 73.68%; /*1050px*/
  max-width: 73.68%;
  min-width: 300px;
  /*min-width: 750px;*/
  margin: 0 auto;
  clear: both;
}

.column{
  float: left;
}

.left{
  box-sizing: border-box;
  padding-right: 15px;
}

.right{
  box-sizing: border-box;
  padding-left: 15px;
}

.one-6{width: 16.66%;}
.two-6{width: 33.32%;}
.three-6{width: 49.98%;}
.four-6{width: 66.64%;}
.five-6{width: 83.3%;}

.one-4{ width: 25%; }
.two-4{ width: 50%; }
.three-4{ width: 75%; }
.four-4{ width: 100%; }

@media only screen and (max-width: 1440px){
  #banner{ background: url(../images/banner-1438.jpg) no-repeat top center; height: 580px; }
  p.banner-text-one{ font-size: 34px; }
  p.banner-text-two{ font-size: 52px; padding: 12px 0 25px;}
  p.banner-text-three{ font-size: 25px; line-height: 35px;}
  #flag-container{ width: 94.67%;}
  #companies-banner{ background: url(../images/companies-banner-1438.jpg) no-repeat top center; }
  #managment-banner{ background: url(../images/managment-banner-1438.jpg) no-repeat top center; }
  #locations-banner{ background: url(../images/locations-banner-1438.jpg) no-repeat top center; }
  #contact-banner{ background: url(../images/contact-banner-1438.jpg) no-repeat top center; }
  #companies-banner, #managment-banner, #locations-banner, #contact-banner{ height: 380px; }
}

@media only screen and (max-width: 1120px){
  .desktop-header #logo{ padding-left: 15px; }
  .desktop-header nav li{ padding: 0 10px; }
  .desktop-header nav ul{ width: 578px;}
  .bar{ width: 20px;}
/*  #banner{background-size: 130%;}*/
}

@media only screen and (max-width: 959px){
  .column.two-4, .column.two-6, .column.four-6{ width: 100%; float: none; }
  .one-4{ width: 50%;}
  .left{ padding: 0; }
  .right{ padding: 30px 0 0 0; }
  h2{ padding: 25px 0 20px; }
  .company-logo{ padding: 0px 60px 65px;}
  .desktop-header nav ul{ float: right; width: 580px; margin-right: 15px;}
  .companies-container { padding-top: 0; }
  .company{ padding-top: 45px; }
  .company.supply, .company.tools{ margin: 0 10px 0 0; }
  .company.rentals, .company.energy{ margin: 0 0 0 10px; }
  #banner{ background: url(../images/banner-959.jpg) no-repeat top center; height: 360px; padding: 50px 15px 0;}
  p.banner-text-one{ font-size: 32px; }
  p.banner-text-two{ font-size: 48px; padding: 12px 0 25px;}
  p.banner-text-three{ font-size: 23px; line-height: 35px;}
}

@media only screen and (max-width: 767px) {
  .form-input{ height: auto; margin-bottom: 5px; }
  .form-input input, .form-input textarea, input#contact-submit{ float: none; clear: both; width: 100%; }
  .form-input input, .form-input textarea{ padding: 14px 10px; }
  input#contact-submit { padding: 10px 10px; }
  .form-input textarea{ height: 130px; }
  .form-input label{ float: none; clear: both; text-align: left; width: 100%; padding: 0; }
  .company-logo{ padding: 40px 30px 40px;}
  .desktop-header{ display: none; }
  .mobile-header{ display: block; }
  .main-container { margin-top: 63px; }
  p.banner-text-one{ font-size: 26px; }
  p.banner-text-two{ font-size: 42px; padding: 2px 0 12px; line-height: 48px;}
  p.banner-text-three{ font-size: 18px; line-height: 26px;}
}

@media only screen and (max-width: 480px) {
  .column{ float: none;}
  .one-6, .two-6, .three-6,
  .four-6, .five-6, .one-4,
  .two-4, .three-4, .four-4{ width: 100%; }
  #flag-container { width: 80%; }
  .company-logo{ padding: 50px 60px 40px;}
  .company{ padding-top: 10px; }
  .company.supply, .company.rentals, .company.energy, .company.tools{ margin: 0; }
  #companies-banner{ background: url(../images/companies-banner-480.jpg) no-repeat top center; }
  #managment-banner{ background: url(../images/managment-banner-480.jpg) no-repeat top center; }
  #locations-banner{ background: url(../images/locations-banner-480.jpg) no-repeat top center; }
  #contact-banner{ background: url(../images/contact-banner-480.jpg) no-repeat top center; }
  #companies-banner, #managment-banner, #locations-banner, #contact-banner{ height: 360px; }
  #banner{ padding: 45px 5px 0;}
  #banner p{text-align: center;}
  p.banner-text-one{ font-size: 18px; }
  p.banner-text-two{ font-size: 32px; padding: 0 0 10px; line-height: 45px;}
  p.banner-text-three{ font-size: 14px; line-height: 22px;}
  /*#banner{ background-size: 180%; height: 200px; }*/
}

/*@media only screen and (max-width: 350px) {
  #banner{ background-size: 240%; height: 220px; }
}*/

/*.one-5{ width: 20%; min-width: 150px;}
.two-5{ width: 40%; }
.three-5{ width: 60%; }
.four-5{ width: 80%; }

.one-10{ width: 10%; }
.three-10{ width: 30%; }
.four-10{ width: 40%; }
.seven-10{ width: 70%; }
.nine-10{ width: 90%; }*/

