/* ---------------------------------------------------------------------------------------------------

-----Info

-----Color Swatch

-----Sections

∆ General


----------------------------------------------------------------------------------------------------*/


/* ---------------------------------------------------------------------------------------------------
		∆ General
---------------------------------------------------------------------------------------------------*/


html,body,div,form,fieldset,legend,label,h1,h2,h3,h4,h5,h6,p,ul,dl,dt,dd,figure,figcaption {
	margin: 0;
	padding: 0;
}

body{
	font: 14px Helvetica;
}

ul{
	list-style-type: none;
}

li{
	float: left;
}

.clear_fix{
	clear: both;
}

