/* ---------------------------------------------------------------------------------------------------

-----Info

Designer & Developer: Nicole Aitchison
Company: Basin Holdings

-----Color Swatch

font grey: 404040
font red: 701e1a
grey: c5c5c5

-----Sections

∆ General
∆ Grid & Queries


----------------------------------------------------------------------------------------------------*/


/* ---------------------------------------------------------------------------------------------------
		∆ General
---------------------------------------------------------------------------------------------------*/


html,body,div,form,fieldset,legend,label,h1,h2,h3,h4,h5,h6,p,ul,dl,dt,dd,figure,figcaption {
	margin: 0;
	padding: 0;
}

body{
	font: 16px 'Helvetica Neue', Helvetica, sans-serif;
  color: #404040;
}

section{
  margin: 0 0 70px;
}

h2{
  text-align: center;
  font: 28px'Libre Baskerville', serif;
  color: #701e1a;
  text-transform: uppercase;
  padding: 30px 0;
}

p{
  line-height: 35px;
  padding: 10px 0;
}

p.center-text{
  text-align: center;
}

a{
  color: #701e1a;
  text-decoration: none;
}

ul{
	list-style-type: none;
}

li{
	float: left;
}

.main-container{
  margin-top: 70px;
}

.clear_fix{
	clear: both;
}

/* Header --------------------------------------*/

header{
  top: 0;
  position: fixed;
  width: 100%;
  background: #fff;
/*  border-bottom: 4px solid #c5c5c5;*/
  padding: 15px 0 20px;
}

#logo{
  float: left;
  width: 100px;
  height: 35px;
  padding-left: 50px;
  padding-top: 5px;
}

/*nav{
  width: 90.47%;
  float: right;
}*/

nav ul{
  width: 759px;
  margin: 0 auto;
  text-align: center;

}

nav li{
  text-align: center;
  padding: 0 25px 1px;
  border-bottom: 3px solid #c5c5c5;
}

nav a{
  text-transform: uppercase;
  color: #404040;
  font-size: 13px;
  line-height: 35px;
}

li.active{
  border-bottom: 3px solid #701e1a;
}

/* Sections --------------------------------------*/

#banner{
  background: url(../images/banner.jpg) no-repeat top center;
  background-size: 100%;
  height: 450px;
  margin-top: 0;
  padding: 50px 50px 0 0;
}

#banner p{
  text-align: right;
  font-family: 'Libre Baskerville', serif;
  color: #fff;
}

p.banner-text-one{
  font-size: 26px;
  font-style: italic;
}

p.banner-text-two{
  font-size: 46px;
  font-weight: bold;
  padding-top: 5px;
}

p.banner-text-three{
  font-size: 19px;
  line-height: 28px;
}

.img-divider img{
  width: 100%;
}

.icon{
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

/* ---------------------------------------------------------------------------------------------------
    ∆ Grid & Queries
---------------------------------------------------------------------------------------------------*/

.container{
  width: 73.68%; /*1050px*/
  max-width: 73.68%;
  /*min-width: 750px;*/
  margin: 0 auto;
  clear: both;
}

.column{
  float: left;
}

.one-2{ width: 50%; }
.two-2{ width: 100%; }

.one-5{ width: 20%; min-width: 150px;}
.two-5{ width: 40%; }
.three-5{ width: 60%; }
.four-5{ width: 80%; }

.one-10{ width: 10%; }
.three-10{ width: 30%; }
.four-10{ width: 40%; }
.seven-10{ width: 70%; }
.nine-10{ width: 90%; }

